<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489040416746-f9d0jiuq8a43nollmoqcdduna0qcceba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489040416746-f9d0jiuq8a43nollmoqcdduna0qcceba</string>
	<key>API_KEY</key>
	<string>AIzaSyAQEChkitnDLxboYm5ozHjXGxw6nt1c8oA</string>
	<key>GCM_SENDER_ID</key>
	<string>489040416746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamProjectFinal</string>
	<key>PROJECT_ID</key>
	<string>eyes-2a815</string>
	<key>STORAGE_BUCKET</key>
	<string>eyes-2a815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489040416746:ios:6c128525dae0815cc82c93</string>
</dict>
</plist>